<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="api_key" value="add_api_key"/>
    <add key="private_key" value="add_private_key"/>
    <add key="allow_payed_methods" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
